/*@media only screen and (max-width: 450px){}
@media only screen and (min-width: 451px) and (max-width: 768px) {}
*/

/*@font-face{
	font-family: 'hulksmash';
	src: url("./fonts/hulksmash.ttf");
}
*/
/*
COLOR
#253324
#9BC063
#70964B
#455D3B*/

/*FONT
font-family: 'Roboto', sans-serif;
font-family: 'Francois One', sans-serif;
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #D1D1D1; 
	font-family: 'Francois One', sans-serif;
} 


.mainbg {
	background-color: #171717;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

em {
	color: #70964B;
}

h1,h2,h3,h4,h5,h6 {
	color: #FFF2F2;
	font-family: 'Francois One', sans-serif;
	font-weight: bolder;
}




/*NAVBAR*/
.navbar-brand {
	max-width: 72px;
	height: auto;
}

.nav-item {
	padding: 10px 0px 10px;
	margin: 0px 10px 5px;
	text-align: center;
	font-size: 17px;
}

.nav-link {
	color: #F7F7F7;/*white*/
}

.navbar {
	padding:0px 5px 0px;
	z-index: 2;
	background: rgba(255,255,255,0);
}


.dropdown-menu,.dropdown-item {
/*	background-color: #363636;*/
	color: #F7F7F7;
	padding: 0px 0px 5px; 
	text-align: center;
	width: 100%;		
	border:none;
/*	margin-left: 50px;*/
}

.dropdown-menu {
	width: 150px;
	background: rgba(255,255,255,0);
}

.navbar-toggler-icon {
	background-image: url(../img/favicon2.png);
}

.nav-link:hover {
	color: #9E9E9E; 
	text-shadow:1px 1px 10px #253324;
/*	border-bottom:1px solid #F7F7F7;*/
}

.dropdown-item:hover {
	background: rgba(255,255,255,0);
	color: #9E9E9E;
	text-shadow:1px 1px 10px #253324;
}


/*HERO SECTION*/
#enter {
	color: #FFF2F2;
	text-decoration: none;
}

#txt-enter {
	padding-top: 8px;
}

#txt-enter:hover {
	color: #011627;
}

.btn {
	margin-top: 20px;
	border-radius: 20px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-image {
	background-image: url(../img/bg001x.jpg);
	height: 1020px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}


/*HOME.HTML*/

.conthome {
	background-image: url(../img/bg002v1.jpg);
	background-repeat: no-repeat;
	background-position: center;
/*	background-size: cover;*/
}

#home-h2 {
	padding: 80px 0px 80px;
	text-align: center;
	letter-spacing: 10px;
}


/*row2*/
.homlogo {
	text-align: center;
}

.row2 {
	margin: 50px 0px 0px;
}

#home-color {
	color: #455D3B;
	text-align: center;
	margin: 80px 0 20px;
}

.fitquote {
	margin: 300px 0 0px;
}

.blockquote-footer{
	margin: 0 0 200px;
	color: #F7F7F7;
}
.p-content {
	color: #E6E8E6;
	text-align: justify;
}



/*row3*/
.row3 {
	background-color: #FCFCFB;
	padding-top: 50px;
}


/*ROW4*/

.row4 {
	background-color: #FCFCFB;
	padding-bottom: 20px;	
}

.card {
	background-color: #FCFCFB;
	border:none;
	padding-top: 20px;
	margin-bottom: 50px;
}

.colshome {
	padding-left: 100px;
	padding-right: 100px;
}


.exercise-home {
	max-width: 100%;
/*	height: cover;*/
	height: auto;
	box-shadow: 8px 8px 15px #9BC063;
}

#home-card {
	color: #70964B;
	text-align: center;
	letter-spacing: 2px;
}

.homebtn:hover {
	color: #5A4862;
}

.homebtn {
	color: #FFF2F2;
	width: 100%;
	letter-spacing: 5px;
	border-radius: 0px;
	margin: 0px;
	box-shadow: 8px 8px 10px #9BC063;
}



/*ROW5*/

footer {
/*	height: 400px;*/
	width: 100%;
	background-color: #875094;
	text-align: center;
	padding: 80px 10px 0px;
}

/*ROW6 FOOTER*/

.disclaimer {
/*	line-height: normal;*/
	text-align: justify;
	padding:0px 20px 0px;
	color: #F7F7F7;

}

.contact-footer {
	width: 24px;
	height: 24px;
}

.pfooter {
	margin: 3px 0 0;
	color: #f7f7f7;
}

.footer-content{
	text-align: justify;
}

.backtotop {
	color: #FFF2F2;
	padding-top: 100px;

}

/*CONTACT.HTML*/

.contact-details {
	color: #011627;
	font-weight: 20px;
}

#contact-html {
	height: 100%;
	text-align: left;
	border:none;
	background-color: #FCFCFB;
}


/*video gallery*/

.v-content{
	color: #70964B;
}

.video-gallery {
	opacity: 1;
	background-color: #FCFCFB;
	margin: 0;
	padding: 0 120px 0;
}

.vidgallery {
	margin-bottom: 50px;
	border:none;
/*	border-bottom: 1px solid*/;
	padding: 3px 1px 0px;
	border-radius: 10px;
	background-color: #FCFCFB;
}

iframe {
	border-radius: 10px;
}


/*NUTRITION*/

.nutri01,.bodypic1 {
	width: 100%;
	height: auto;

}

#nutrition-main {
	margin: 0;
}

.figure-caption {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}

/*Q & A*/
.q-content {
	color: #9BC063;
}


/*MEDIA QUERY*/
/*TABLET*/
@media only screen and (min-width: 451px) and (max-width: 768px) {
.dropdown-menu,.dropdown-item {
	margin-left: 140px;
	}
.hero-text {
    top: 73%;
    left: 45%;
	}
.nav-item {
	padding: 0;
	margin: 0;
	}
.nav-link {
	padding: 0;
	margin: 0;
    }
.video-gallery {
	padding: 0;
	}
}

/*MOBILE*/
@media only screen and (max-width: 450px){
.hero-text {
    top: 73%;
    left: 40%;
	}
.dropdown-menu,.dropdown-item {
	margin-left: 40px;
	}
.nav-item {
	padding: 0;
	margin: 0;
	}
.nav-link {
	padding: 0;
	margin: 0;
    }
.video-gallery {
	padding: 0;
	}
.colshome {
	padding:0;
}
}

